@font-face {
    font-family: Tangerine;
    src: url(../../font/Tangerine-Bold.ttf);
  }
  
h4 {
    margin-block: 0;
}

input {
    margin-top: 10px;
}
button {
    border: none;
    background-color: white;
    border-radius: 50%;
    color:rgb(124, 95, 72);

}

.list {
margin: 0;
margin-left: 10px;
padding-block: 0;
min-width: 130px;
text-transform: capitalize;
}

.listItem {
    display: flex;
    font-size: smaller;
    justify-content: space-between;
}

  .container {
    display:flex;
    color: rgb(97, 59, 29);
}

.page {
    min-width: 380px;
    height: 550px;
    border: 1px solid black;
    border-radius: 9px;
    padding: 40px;
    margin: 0;
    /* background-color: rgb(243, 234, 217); */
    background-image: linear-gradient(180deg, rgb(243, 234, 217), rgb(214, 199, 169));
}

header {
    margin-inline: auto;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
    /* border-bottom: 1px dashed rgb(97, 59, 29); */
    text-decoration: underline;
    font-family: Tangerine;
    /* text-shadow: 1px 1px 3px rgb(90, 77, 67); */
    font-size: 50px;
}

.weekdays {
    padding: 7px;
    border: 1px dashed black;
    border-radius: 5px;
    background-color: rgb(248, 247, 240);
    box-shadow: 5px 5px 10px rgb(128, 117, 100);
}

.vertical{
    height: 230px;
    width: 150px;
}

.horizontal {
    height: 120px;
    width: 300px;
}

.mini {
    height: 120px;
    width: 150px;
}

.sunday {
    position: absolute;
    margin-top: 70px;
}


.monday {
    position: absolute;
    margin-left: 200px;
}

.wednesday {
    position: absolute;
}

.thursday {
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;
}

.tuesday, .friday {
    position: absolute;
    margin-top: 340px;
}

.saturday {
    position: absolute;
    margin-left: 200px;
    margin-top: 340px;
}

.number {
    background-color: brown;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

